
# Core Libraries
pandas
numpy
scikit-learn
joblib

# Data Source
yfinance

# Time Series Modeling
statsmodels
pmdarima
tensorflow

# Portfolio Optimization
PyPortfolioOpt

# Visualization
matplotlib
seaborn

# Utilities & Quality
jupyterlab
black
flake8
pytest
